<section class="faq faq--@@mod">
    <div class="container">
        <div class="faq__inner">
            <h2 class="faq__title h2">Частые вопросы</h2>
            <div class="faq__block">

                <div class="faq__block-col">
                    <div class="faq__block-item">
                        <div class="faq__block-question">
                            <p class="faq__block-question-text">Выполняете ли вы заказы в частных домах, коттеджах,
                                таунхаусах и на дачах?</p>
                            <svg class="faq__block-question-arrow" width="14" height="8" viewBox="0 0 14 8" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 1L7 7L1 1" stroke="#D9D9D9" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <p class="faq__block-answer">Цель, к которой наша компания постепенно идёт — оказывать свои
                            услуги
                            на том же высоком уровне и в других регионах. Но, чтобы отладить все тонкости, нам
                            потребуется
                            некоторое время. Далеко-далеко за словесными горами в стране гласных и согласных живут
                            рыбные тексты.</p>
                    </div>
                    <div class="faq__block-item">
                        <div class="faq__block-question">
                            <p class="faq__block-question-text">Как оформить регулярную подписку на ваши услуги?</p>
                            <svg class="faq__block-question-arrow" width="14" height="8" viewBox="0 0 14 8" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 1L7 7L1 1" stroke="#D9D9D9" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <p class="faq__block-answer">Цель, к которой наша компания постепенно идёт — оказывать свои
                            услуги
                            на том же высоком уровне и в других регионах. Но, чтобы отладить все тонкости, нам
                            потребуется
                            некоторое время.</p>
                    </div>
                    <div class="faq__block-item">
                        <div class="faq__block-question">
                            <p class="faq__block-question-text">Вы уже делаете уборку квартир в Москве и
                                Санкт-Петербурге.
                                Когда появитесь в других городах?</p>
                            <svg class="faq__block-question-arrow" width="14" height="8" viewBox="0 0 14 8" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 1L7 7L1 1" stroke="#D9D9D9" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <p class="faq__block-answer">Цель, к которой наша компания постепенно идёт — оказывать свои
                            услуги
                            на том же высоком уровне и в других регионах.</p>
                    </div>
                </div>

                <div class="faq__block-col">
                    <div class="faq__block-item">
                        <div class="faq__block-question">
                            <p class="faq__block-question-text">Как работает «Приведи друга»? Сколько стоит уборка
                                квартиры
                                по этой акции?</p>
                            <svg class="faq__block-question-arrow" width="14" height="8" viewBox="0 0 14 8" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 1L7 7L1 1" stroke="#D9D9D9" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <p class="faq__block-answer">Цель, к которой наша компания постепенно идёт — оказывать свои
                            услуги
                            на том же высоком уровне и в других регионах. Но, чтобы отладить все тонкости, нам
                            потребуется
                            некоторое время.</p>
                    </div>
                    <div class="faq__block-item">
                        <div class="faq__block-question">
                            <p class="faq__block-question-text">Могу ли я заказать уборку квартиры и уйти по делам,
                                когда
                                приедет клинер?</p>
                            <svg class="faq__block-question-arrow" width="14" height="8" viewBox="0 0 14 8" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 1L7 7L1 1" stroke="#D9D9D9" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <p class="faq__block-answer">Цель, к которой наша компания постепенно идёт — оказывать свои
                            услуги
                            на том же высоком уровне и в других регионах.</p>
                    </div>
                    <div class="faq__block-item">
                        <div class="faq__block-question">
                            <p class="faq__block-question-text">Вы сможете помыть потолки, жалюзи и всё, до чего сложно
                                дотянуться?</p>
                            <svg class="faq__block-question-arrow" width="14" height="8" viewBox="0 0 14 8" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 1L7 7L1 1" stroke="#D9D9D9" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <p class="faq__block-answer">Цель, к которой наша компания постепенно идёт — оказывать свои
                            услуги
                            на том же высоком уровне и в других регионах. Но, чтобы отладить все тонкости, нам
                            потребуется
                            некоторое время.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @@include('../discount/discount.html')
</section>