<section class="advantages @@if(context.advantagesClass){@@advantagesClass}">
    <div class="container">
        <div class="advantages__inner">
            <div class="advantages__card advantages__card--1">
                <div class="advantages__img-wrap">
                    <img src="img/advantages-1.png" alt="Преимущества" class="advantages__img">
                </div>
                <h4 class="advantages__title">Опытный персонал</h4>
                <p class="advantages__text">Мы делаем ставку на персонал - наши клинеры квалифицированные
                    специалисты.</p>
            </div>
            <div class="advantages__card advantages__card--2">
                <div class="advantages__img-wrap">
                    <img src="img/advantages-2.png" alt="Преимущества" class="advantages__img">
                </div>
                <h4 class="advantages__title">Безупречная чистота</h4>
                <p class="advantages__text">Сертифицированные чистящие средства, которые прошедшие проверку.</p>
            </div>
            <div class="advantages__card advantages__card--3">
                <div class="advantages__img-wrap">
                    <img src="img/advantages-3.png" alt="Преимущества" class="advantages__img">
                </div>
                <h4 class="advantages__title">Натуральные средства</h4>
                <p class="advantages__text">Сертифицированные чистящие средства, которые прошедшие проверку.</p>
            </div>
            <div class="advantages__card advantages__card--4">
                <div class="advantages__img-wrap">
                    <img src="img/advantages-4.png" alt="Преимущества" class="advantages__img">
                </div>
                <h4 class="advantages__title">Современное оборудование</h4>
                <p class="advantages__text">В работе используем только качественное клининговое оборудование.
                </p>
            </div>
            <div class="advantages__card advantages__card--5">
                <div class="advantages__img-wrap">
                    <img src="img/advantages-5.png" alt="Преимущества" class="advantages__img">
                </div>
                <h4 class="advantages__title">Фиксированная стоимость</h4>
                <p class="advantages__text">В процессе уборки цена не меняется, оплачивается заранее
                    согласованная сумма.</p>
            </div>
            <div class="advantages__card advantages__card--6">
                @@if(context.advantagesBtn){
                <button class="advantages__btn btn">Рассчитать стоимость</button>
                }
            </div>
        </div>
    </div>
</section>