<section class="about about--@@mod">
    <div class="container">
        <div class="about__inner">
            <h2 class="about__title h2">О нас</h2>
            <div class="about__top">
                <p class="about__text">С другой стороны, реализация намеченных плановых заданий требует от нас анализа
                    приоретизации разума над эмоциями. Таким образом, граница обучения кадров представляет собой
                    интересный эксперимент проверки кластеризации усилий! Вот вам яркий пример современных тенденций —
                    выбранный нами инновационный путь представляет собой интересный эксперимент проверки приоретизации
                    разума над эмоциями.</p>
                <img src="img/about-yandex.png" alt="Яндекс" class="about__yandex-img">
            </div>
            @@if(context.cards){
            <div class="cards-about">
                <div class="cards-about__card cards-about__card--1">
                    <a href="services.html" class="cards-about__card-link">
                        <img src="img/about-1.png" alt="" class="cards-about__img">
                        <h4 class="cards-about__title">Генеральная уборка</h4>
                        <p class="cards-about__text">Полная процедура очистки и уборки помещений. Включает в себя уборку
                            и
                            сухую чистку, а также удаление пыли, грязи, накипи, кожуры, пыльцы и т.д.</p>
                    </a>
                </div>
                <div class="cards-about__card cards-about__card--2">
                    <a href="#" class="cards-about__card-link">
                        <img src="img/about-2.png" alt="" class="cards-about__img">
                        <h4 class="cards-about__title">Уборка после ремонта</h4>
                        <p class="cards-about__text">Процесс удаления отходов, мусора и пыли, оставшихся после ремонта.
                            Уберем последствия строительнного процесса и избавим вас от грязи.</p>
                    </a>
                </div>
                <div class="cards-about__card cards-about__card--3">
                    <a href="#" class="cards-about__card-link">
                        <img src="img/about-3.png" alt="" class="cards-about__img">
                        <h4 class="cards-about__title">Поддерживающая уборка</h4>
                        <p class="cards-about__text">Поддерживающая уборка помогает удерживать помещение в чистоте и
                            порядке. Частоту уборки вы можете выбрать под себя.</p>
                    </a>
                </div>
                <div class="cards-about__card cards-about__card--4">
                    <a href="#" class="cards-about__card-link">
                        <img src="img/about-4.png" alt="" class="cards-about__img">
                        <h4 class="cards-about__title">Мойка окон и витрин</h4>
                        <p class="cards-about__text">Помогаем вернуть превосходный вид оконам и витринам. Используем
                            только
                            профессиональные средства для удаления загрязнений.</p>
                    </a>
                </div>
                <div class="cards-about__card cards-about__card--5">
                    <a href="#" class="cards-about__card-link">
                        <img src="img/about-5.png" alt="" class="cards-about__img">
                        <h4 class="cards-about__title">Для бизнеса</h4>
                        <p class="cards-about__text">Проводим уборку офисных и производственных помещений, ресторанов,
                            магазинов, торговых центров, складов, гостиниц и т.д.</p>
                    </a>
                </div>
                <div class="cards-about__card cards-about__card--6">
                    <a href="#" class="cards-about__card-link">
                        <img src="img/about-6.png" alt="" class="cards-about__img">
                        <h4 class="cards-about__title">СпецКлининг</h4>
                        <p class="cards-about__text">Специальные услуги помогают нашим клиентам в сложных ситуациях.
                            Поможем
                            убрать последствия пожаров, потопов и т.д.</p>
                    </a>
                </div>
            </div>
            }
        </div>
    </div>
</section>